body {
    margin: 0;
    padding: 0;
}

/* the style of the layer control menu */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

/* each layer on the menu */
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* the last item of the layer items will not include a seperator */
#menu a:last-child {
    border: none;
}

/* change color and background color while a pointer is on an hybrid link. */
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}
#title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 45px;
    font-size: 25pt;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
#desc {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 10pt;
    color: lightgray;
    white-space: pre-wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

/* Navbar */
#navbar-container {
    position: relative;
    z-index: 5;
    background-color: #975F0B;
}
.navbar-brand {
    color:#fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
#about-btn {
    color: #fff;
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: stretch;
  }

#right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#filter-bar {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: #E1BC85;
}

#filter-bar button:hover {
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content p:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/* Dropdown Button */

#food-bank {
    display: flex;
}

#food-bank p {
    margin: auto;
}

#map {
    flex-grow: 1;
}

#side-panel {
    flex-basis: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#description {
    margin-left: 40px;
    margin-right: 40px;
}

/* About Page */
.bg-brown {
    background-color: #E1BC85;
}

/* Rounded slider styles*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto;
    margin-left: 10px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Rounded sliders styles*/